body {
     background-image: url("image1.jpg");
   }
   
   .dowry-title {
     font-size: 2.5rem;
     color: #dc3545;
   }
   
   .container {
     max-width: 600px;
     background-color: #fff;
     padding: 30px;
     border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
   
   button {
     width: 100%;
   }